body{
    background-image: url(../public/img/pexels-sagui-andrea-618833.jpg);
}
body::-webkit-scrollbar {
    width: 7px;
    background: #343f4f;
}
body::-webkit-scrollbar-thumb {
    background: #7bb174;
    border-radius: 5px;
}